body {background-color: #000002;}
#background {
	background-image: url('/themes/planet/bg.jpg');
}

.tp-shadow10 {
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}
.tp-shadow10:hover {
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px rgba(0,0,0,.6);
}

#bookmarks .view-tiles .item .manager a.screenshotUpdate:hover, 
#bookmarks .view-list .item .manager a.screenshotUpdate:hover {
	background: url('/i/icons-white.png') no-repeat -1px -85px;
}
#bookmarks .view-tiles .item .manager a.edit:hover, 
#bookmarks .view-list .item .manager a.edit:hover {
	background: url('/i/icons-white.png') no-repeat 0px 0px;
}
#bookmarks .view-tiles .item .manager a.delete:hover, 
#bookmarks .view-list .item .manager a.delete:hover {
	background: url('/i/icons-white.png') no-repeat -2px -42px;
}

.user-theme-item-background {
	background: #0d2a59;
}
.user-theme-item-background-hover:hover {
	background: #0d2a59;
}
#widgets .bg.user-theme-page-background,
#bookmarks .page > .bg.user-theme-page-background {
	background: #051634;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE 5.5+*/
	-moz-opacity: 0.6; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 0.6; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.6; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
}
.user-theme-bookmark-link {
	color: #ffffff;
}
.user-theme-bookmark-url {
	color: #959494;
}

#widgets .mini-wcolumn .setting .bg-setting {
	background-position: 6px -49px;
}
#widgets .mini-wcolumn .setting:hover .bg-setting {
    background-position: -36px -49px;
}

.widget-mini.MyMessagesWidget .message-icon {
	background-image: url('/i/widget/my-messages-white.png');
}

@media screen and (max-width: 2880px) and (max-height:2880px) {
	#background {
		background-image: url('/themes/planet/bg2880.jpg');
	}
}
@media screen and (max-width: 2560px) and (max-height:2560px) {
	#background {
		background-image: url('/themes/planet/bg2560.jpg');
	}
}
@media screen and (max-width: 2048px) and (max-height:2048px) {
	#background {
		background-image: url('/themes/planet/bg2048.jpg');
	}
}
@media screen and (max-width: 1920px) and (max-height:1920px) {
	#background {
		background-image:url('/themes/planet/bg1920.jpg');
	}
}
@media screen and (max-width: 1800px) and (max-height:1800px) {
	#background {
		background-image: url('/themes/planet/bg1800.jpg');
	}
}
@media screen and (max-width: 1600px) and (max-height:1600px) {
	#background {
		background-image: url('/themes/planet/bg1600.jpg');
	}
}
@media screen and (max-width: 1366px) and (max-height:1366px) {
	#background {
		background-image: url('/themes/planet/bg1366.jpg');
	}
}
@media screen and (max-width: 1280px) and (max-height:1280px) {
	#background {
		background-image: url('/themes/planet/bg1280.jpg');
	}
}
@media screen and (max-width: 1024px) and (max-height:1024px) {
	#background {
		background-image: url('/themes/planet/bg1024.jpg');
	}
}
@media screen and (max-width: 768px) and (max-height:768px) {
	#background {
		background-image: url('/themes/planet/bg768.jpg');
	}
}
@media screen and (max-width: 720px) and (max-height:720px) {
	#background {
		background-image:url('/themes/planet/bg720.jpg');
	}
}
@media screen and (max-width: 480px) and (max-height:480px) {
	#background {
		background-image: url('/themes/planet/bg480.jpg');
	}
}
@media screen and (max-width: 320px) and (max-height:320px) {
	#background {
		background-image: url('/themes/planet/bg320.jpg');
	}
}
